<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>m_extend</key>
	<string>扩展字段</string>
	<key>businesstype</key>
	<string>数字证书类型,传值时候对应的属性名,不要搞错</string>
	<key>m_businessType</key>
	<string>签名类型</string>
	<key>m_certType</key>
	<string>证书操作类型 (10：证书吊销 20：证书冻结 30：证书解冻)</string>
	<key>m_key</key>
	<string>对称密钥</string>
	<key>m_cert</key>
	<string>证书</string>
	<key>originalstr</key>
	<string>原文 字符串,跳转后需要UFT8转码</string>
	<key>m_sign</key>
	<string>签名值</string>
	<key>operationtype</key>
	<string>操作类型,判断是企业类型,还是个人类型   0个人类型 , 1企业类型</string>
	<key>isPin</key>
	<string>以此判断是传pin还是弹pin ,0弹pin,1传pin</string>
	<key>startDate</key>
	<string>证书生效日期</string>
	<key>businesscode</key>
	<string>业务编号</string>
	<key>algorithm</key>
	<string>算法标识符   （101：RSA 103：SM2）</string>
	<key>month</key>
	<string>证书有效期</string>
	<key>isAllowedCallBack</key>
	<string>0</string>
	<key>IDs</key>
	<array>
		<dict>
			<key>ID</key>
			<string>100</string>
			<key>desc</key>
			<string>实时申请证书(弹pin)</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>101</string>
			<key>desc</key>
			<string>证书查询</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>102</string>
			<key>desc</key>
			<string>摘要签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>103</string>
			<key>desc</key>
			<string>对称加密</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>104</string>
			<key>desc</key>
			<string>对称解密</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>105</string>
			<key>desc</key>
			<string>封装数字信封</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>106</string>
			<key>desc</key>
			<string>解析数字信封</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>107</string>
			<key>desc</key>
			<string>v1签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>108</string>
			<key>desc</key>
			<string>p7签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>109</string>
			<key>desc</key>
			<string>获取hash值</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>110</string>
			<key>desc</key>
			<string>获取对应的数字证书信息</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>111</string>
			<key>desc</key>
			<string>hash值签名(v1)</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>112</string>
			<key>desc</key>
			<string>hash值签名(vp7)</string>
		</dict>
	</array>
	<key>IDsforPassPin</key>
	<array>
		<dict>
			<key>ID</key>
			<string>150</string>
			<key>desc</key>
			<string>实时申请证书(传pin)</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>151</string>
			<key>desc</key>
			<string>证书查询</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>152</string>
			<key>desc</key>
			<string>摘要签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>153</string>
			<key>desc</key>
			<string>封装数字信封</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>154</string>
			<key>desc</key>
			<string>解析数字信封</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>155</string>
			<key>desc</key>
			<string>v1签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>156</string>
			<key>desc</key>
			<string>p7签名</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>157</string>
			<key>desc</key>
			<string>获取hash值</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>158</string>
			<key>desc</key>
			<string>获取对应的数字证书信息</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>159</string>
			<key>desc</key>
			<string>hash值签名(p1)</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>160</string>
			<key>desc</key>
			<string>hash值签名(vp7)</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>161</string>
			<key>desc</key>
			<string>修改密码</string>
		</dict>
	</array>
</dict>
</plist>
